# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
captures/screenshot5.PNG
captures/screenshot4.PNG
captures/screenshot3.PNG
captures/screenshot2.PNG
captures/screenshot1.PNG
captures/firestore img.PNG
